body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.cards ul {
    gap: 56px;
}


li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards li {
    max-width: 100px;                                
}

a{
    color: antiquewhite;
    text-decoration: none;
}

img {
    max-width: 300px;
}

header {
    color: antiquewhite;
    background-color: #1F2937;
    display: flex;
    margin: 0;
    padding: 16px;
    justify-content: space-between;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    background-color: #1F2937;
}

.logo {

}

.links {
}

.body-container {
    
}

.item {
    width: 100px;
    height: 100px;
    mask-border-width: 8px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.item-description {
    text-align: center;
}

.one {
    display: flex;
    flex: initial;
    justify-content: center;
    align-items: center;
    padding: 36px;
    color: antiquewhite;
    background-color: #1F2937;
}

.sign-up {
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    background-color: #e5e7eb;
}

.quote {
    font-size: 24px;
    font-style: italic;
    display: flex;
    justify-content: center;
}

.author {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    margin: 52px;
}

.call {
    width: 75%;
    height: 100px;
    color: antiquewhite;
    background-color: #3882f6;
    border-radius: 8px;
}
