body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.cards ul {
    gap: 56px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards li {
    max-width: 100px;                                
}

a{
    color: antiquewhite;
    text-decoration: none;
}

img {
    width: 550px;
    height: 300px;
}

button {
    border-radius: 8px;
    border: none;
    width: fit-content;
    padding: 4px 16px;
}

header {
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    margin: 0;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: #1F2937;
    font-size: 14px;
    padding: 24px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial';
    font-style: italic;
    background-color: #E5E7EB;
    border-radius: 50%;
    color: #1F2937;
    padding: 8px;
}

.links {
}

.body-container {
    
}

.item {
    width: 100px;
    height: 100px;
    mask-border-width: 8px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 8px;
}

.item-description {
    text-align: center;
}

.one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    color: #E5E7EB;
    background-color: #1F2937;
}

.sign-up {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 400px;
    justify-content: space-between;
    align-items: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.sign-up h1, p {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.sign-up button {
    background-color: #3882f6;
    color: #E5E7EB;
    margin-top: 12px;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 36px;
}

h2 {
    font-size: 36px;
    color: #1F2937;
}

.three {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px;
    background-color: #e5e7eb;
    color: #1F2937;
}

.size-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
}

quote {
    font-size: 36px;
    font-style: italic;
    text-align: left;
}

author {
    font-weight: bold;
    text-align: right;
}

.four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    margin: 52px;
}

.call-container {
    width: 66%;
    height: 33%;
    color: #E5E7EB;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    padding: 24px 36px;
    flex-wrap: wrap;
}

.call-container button {
    background-color: transparent;
    color: #E5E7EB;
    border-style: solid;
    mask-border-width: 8px;
    margin: 12px 0px;
}

.text h3, p {
margin: 0;
padding: 0;
}